@inherits LayoutComponentBase

@inject HttpClient Http
@inject JwtAuthStateProvider Auth
@inject NavigationManager Nav

<div class="layout">
    <header tabindex="-1" class="header">
        <div class="header-container">
            <NavLink class="logo" href>HikeConnect</NavLink>

            <nav class="nav">
                <NavLink href="/about">О проекте</NavLink>
                <NavLink href="/contacts">Контакты</NavLink>
                @if (Auth.IsLoggedIn)
                {
                    <NavLink class="ml-30" href="/trips">Походы</NavLink>
                    <NavLink href="/create">Организовать</NavLink>

                    <NavLink class="ml-30" href="@($"/user/{Auth.UserName}")">Профиль</NavLink>
                    <button class="link-button logout-button" @onclick="LogoutAsync">Выйти</button>
                }
                else
                {
                    <NavLink class="ml-30" href="/login">Войти</NavLink>
                }
                
            </nav>
        </div>
    </header>

    <main class="content">
        @Body
    </main>
</div>

@code {
    private async Task LogoutAsync()
    {
        var response = await Http.GetAsync(ApiRoutes.Auth.Logout);
        if (response.IsSuccessStatusCode)
        {
            Auth.Logout();
            Nav.NavigateTo("/");
        }
    }
}