@inject NavigationManager Nav

<p>Перенаправляем на страницу входа...</p>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Nav.NavigateTo("/login", replace: true);
        }
    }
}
