<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <p>Авторизация...</p>
                </Authorizing>
                <NotAuthorized>
                    <p>Вы не авторизованы.</p>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Страница не найдена</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert"><em>Такой страницы не существует.</em></p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>