@page "/about"

<PageTitle>About - HikeConnect</PageTitle>

<div class="container">
    <div class="card about-card">
        <div class="about-content">
            <img src="/images/about.webp" alt="HikeConnect" class="about-image" />

            <div class="about-text">
                <h2>О проекте</h2>

                <p>
                    HikeConnect — это сервис для поиска людей для походов и путешествий.
                    Пользователи могут создавать маршруты, находить попутчиков и делиться опытом.
                </p>

                <p>
                    Проект создаётся как удобный инструмент для тех, кто любит горы,
                    природу и живое общение.
                </p>

                <p>
                    Иконки для проекта разработаны Юки
                </p>

                <NavLink class="back" href="/">
                    На главную
                </NavLink>
            </div>
        </div>
    </div>
</div>

@code {

}
