@page "/contacts"

<PageTitle>Contacts - HikeConnect</PageTitle>

<div class="container">
    <div class="card contacts-card">
        <div class="contacts-content">
            <img src="/images/contacts.webp" alt="HikeConnect" class="contacts-image" />
            
            <div class="contacts-text">
                <h2>Контакты</h2>

                <p class="subtitle">
                    Если у вас есть идеи, предложения или вы нашли ошибку —
                    вы всегда можете связаться с разработчиком.
                </p>

                <div class="contact-list">
                    <p>
                        <span>Email:</span>
                        <a href="mailto:mountlib@mail.ru">
                            mountlib@mail.ru
                        </a>
                    </p>

                    <p>
                        <span>Telegram:</span>
                        <a href="https://t.me/Ulquaza" target="_blank">
                            t.me/Ulquaza
                        </a>
                    </p>

                    <p>
                        <span>GitHub:</span>
                        <a href="https://github.com/Ulquaza" target="_blank">
                            github.com/Ulquaza
                        </a>
                    </p>
                </div>

                <a class="back" href="/">
                    На главную
                </a>
            </div>
        </div>
    </div>
</div>

@code {

}
